// Renkler
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;

// Yazı tipleri
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

.notes-container {
  padding: 20px;

  h4 {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      .note-description {
        flex: 1;
        font-size: $font-size-base;
        color: $primary-color;
        word-wrap: break-word;
      }

      .completed-note {
        text-decoration: line-through;
      }

      button {
        padding: 8px 12px;
        font-size: $font-size-base;
        cursor: pointer;
      }

      .btn-secondary {
        background-color: $secondary-color;
        color: #fff;
        border: none;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }

      .btn-error {
        background-color: $error-color;
        color: #fff;
        border: none;

        &:hover {
          background-color: darken($error-color, 10%);
        }
      }
    }
  }

  .MuiSnackbar-root {
    bottom: 20px;
    left: 20px;
  }

  .MuiAlert-root {
    font-size: $font-size-base;
  }
}
