// Renkler
$primary-color: #007bff;
$questions-color: #000000;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;

// Yazı tipleri
$font-family: 'Roboto', sans-serif;
$font-size-base: 24px;
$heading-font-size: 36px;

// Form elemanları
$input-padding: 12px;
$input-border-radius: 8px;
$input-border-color: #ced4da;
$input-focus-border-color: $primary-color;

.quiz-container {
  position: relative;
  margin: 5px auto;
  padding: 30px;
  border-radius: 15px;
  font-family: $font-family;

  .question {
    font-size: $heading-font-size;
    margin-bottom: 20px;
    color: $questions-color;
  }

  .answer-options {
    display: grid;
    gap: 10px;
  }

  .answer-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: $font-size-base;

    input[type="radio"] {
      margin-right: 10px;
    }
  }

  .submit-button,
  .add-time-button {
    margin-top: 30px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: $input-padding;
    border-radius: $input-border-radius;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .time-left {
    margin-top: 30px;
    font-size: $font-size-base;
    color: $secondary-color;
  }

  .message {
    font-size: $font-size-base;
    text-align: center;
    margin-top: 50px;
    color: $primary-color;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    button {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.dialog-button {
  margin-top: 60px;
  background-color: $success-color;
  color: #fff;
  border: none;
  padding: $input-padding;
  border-radius: $input-border-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($success-color, 10%);
  }
}
